.main
{
    background-color: #191919;
    min-height: 100vh;
    max-height: max-content;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo
{
    color: white;
    font-size: 32px;
    font-weight: 900;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
.main
{
    background-color: #191919;
    min-height: 100vh;
    max-height: max-content;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.disciplina
{
    pointer-events: none;
    touch-action: none;
    width: 745px;
    background-color:  #c1c1c1;
}
.submit
{
    width: 250px;
    height: 60px;
    background-color: #faea98;
    color: white;
    border: none;
    border-radius: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.submit:hover
{
    background-color: #FFD700;
    transition: 1s;
}
.submit:not(:hover)
{
    background-color: #faea98;
    transition: 1s;
}
.color_white
{
    color: white;
}
.submit_div
{

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    padding-top: 20px;
}