{% extends 'base.html' %}
{% load static %}

{% block import_title_css %}

<link rel="stylesheet" href="{% static 'css/iniciar_certificacao.css' %}">
<title>Iniciar Periodo {{disciplina.nome}}</title>

{% endblock %}

{% block main %}

{{ form.errors }}

<p class="white title">{{disciplina.nome}}</p>
<form action=""  method="POST">
    {%csrf_token%}
    <div class="form_disciplina">

        <div class="dados">
            <p class="white"> Perido da Disciplina: {{form.perido.value}} </p>
            <p class="white"> Carga Horaria: {{form.carga_horaria.value}}</p>
            {% if form.optativa.value == 'S' %}
                <p class="white"> Optativa: SIM</p>
            {% elif form.optativa.value == 'N' %}
                <p class="white"> Optativa: NÃO</p>
            {% endif %}

            {%  if form.aberto.value == False %}
                <p class="white">Status Para requsição de aproveitamento de disciplina: Fechado</p>
            {% elif form.aberto.value == True %}
                <p class="white">Status Para requsição de aproveitamento de disciplina: Aberto</p>
            {% endif %}
            
            {% if form.data_final.value != None %}
                <p class="white" style="pointer-events: none; touch-action: none; ">Data para a Finalização das requisições de certificação de conhecimento: {{form.data_final}}</p>
                
                <div class="banca">
                    <p class="white">Professores que compoem a banca:</p>
                    <!-- {{form.banca_de_professores}} -->
                    <select style="pointer-events: none; touch-action: none; " name="banca_de_professores" required="" id="id_banca_de_professores" multiple="">
                        
                        {% for professor in disciplina.banca_de_professores.all %}
                            <option value="{{professor.id}}">{{professor.username}}</option>
                        {% endfor %}
                      </select>
                </div>

                <div class="pedagogo">
                    <p class="white" style="pointer-events: none; touch-action: none; ">Pedagogo:  </p>
                    <p class="white" >{{disciplina.pedagogo.username}}</p>
                </div>

                <p class="white_" >A data final para as requisições de certificações de conhecimento para a disciplina de {{disciplina.nome}} é {{disciplina.data_final}}</p>
            {% else %}
                <p class="white">Digite uma data para a Finalização das requisições de certificação de conhecimento: {{form.data_final}}</p>

                              
                <div class="banca">
                    <p class="white">Selecione os professores para compor a banca:</p>
                    <!-- {{form.banca_de_professores}} -->
                    <select name="banca_de_professores" required="" id="id_banca_de_professores" required multiple="">
                        
                        {% for professor in professores%}
                            <option value="{{professor.id}}">{{professor.username}}</option>
                        {% endfor %}
                      </select>
                </div>

                <div class="pedagogo">
                    <p class="white">Selecione um pedagogo:  </p>
                    {{form.pedagogo}}
                </div>

            {% endif %}

            

            
        </div>

        <div class="dependencias">
            <p class="white title_dependencias">Dependencias:</p>

            <div class="lista_das_dependencias">
                {% for disciplinas in dependencias.all %}
                    <p class="white">{{disciplinas.nome}}</p>
                {% endfor %}
            </div>
        </div>

    </div>

    {% if form.data_final.value != None %}
       
    {% else %}
        <button class="star_chain">
            <input type="submit" value='Iniciar Certificação de conhecimento'>
        </button>
    {% endif %}

    <!-- {{form.as_p}} -->

    <div class="display_hidden"  >
        {{form.nome}}
        {{form.perido}}
        {{form.carga_horaria}}
        {{form.optativa}}
        {{form.dependencia}}
    </div>

</form>
{% endblock %}