{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/modal_menu.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="modal_config">

        <div class="dados_usuario">
            <img class="img_usuario" src="{% static 'imagens/Media/.3.png' %}" alt="">

            <div class="nome_matricula_usuario">
                <p>Nome<br>Matricula</p>
            </div>
        </div>
        <div class="line"></div>
            <p class="configuracoes_menu">Configurações</p>
        <div class="line"></div>
            <p class="sair_menu">Sair</p>
    </div>
   
</body>
</html>
