{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal teste</title>
    <link rel="stylesheet" href="{% static 'css/__modal_selecionarAC.css' %}">
</head>
<body>

    <div id="modal_mine">
        <div class="modal_selecionar">
            <div class="aproveitamento">
                <p>Requisitar<br>Aproveitamento de<br>disciplina</p>
            </div>
            <div class="conhecimento">
                <p>Requisitar<br>Certificação de<br>conhecimento</p>
            </div>
        </div>
    </div>

</body>
</html>