<tbody>
    {% for dados in disciplina %}
        <tr>
            <th scope="row"> {{dados.id}} </th>
            <td><a class="name" href="{% url 'disciplina' dados.id %}">{{dados.nome}} </a></td>
            <td>{{dados.perido}}</td>
            <td>
                {% for dependencias in dados.dependencia.all %}
                {{dependencias}},
                {% endfor %}
            </td>
            <td>{{dados.optativa}}</td>
            <td>{{dados.carga_horaria}}</td>
        </tr>
    {% endfor %}
</tbody>