.main
{
    background-color: #191919;
    /* height: 100vh; */
    min-height: 100vh;
    max-height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.titulo
{
    color: white;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.username, .curso_relacao
{
    width: 700px;
    height: 66px;
    border-radius: 5px;
    padding-left: 5px;
}
.curso_relacao, .disciplina_relacao
{
    width: 705px;
    height: 66px;
    border-radius: 5px;
    padding-left: 5px;
}
.matricula,  .cpf, .phone, .email, .data_de_nascimento, .password1, .password2
{
    width: 341px;
    height: 66px;
    border-radius: 5px;
    padding-left: 5px;
}
.supossed_image
{
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 50000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
#blah
{
    display: none;
    height: 100%;
    width: 100%;

}

.row_image
{
    display: flex;
    flex-direction: column;
}
.row_image div
{
    display: flex;
    gap: 5px;
    justify-content: baseline;
}
.row_one
{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32.5px;
    justify-content: center;
}
input[type=file]
{
    width: 195px;
}
.label_checkbox
{
    color: white;
    font-size: 12px;
}
.row_two
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.row_two_2
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row_three
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 19px;
}
.row_four
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 19px;
}
.row_five
{
    display: flex;
    
    justify-content: center;
    margin-top: 30px;
    gap: 19px;
    
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.row_five button
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border: none;
    background-color: #eedb75;
    width: 341px;
    height: 63px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 25%;
}

input[type=submit]
{
    border: none;
    background-color: #eedb75;
    color: black;
    font-weight: 900;
    font-size: 20;
}
.row_five button:hover ,.row_five button:hover input[type=submit]
{
    background-color: #FFD700;
    transition: 1s;
}
.row_five button:not(:hover) ,.row_five button:not(:hover) input[type=submit]
{
    border: none;
    background-color: #eedb75;
    color: black;
    font-weight: 900;
    font-size: 20;
    transition: 1s;
}
.erros
{
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.erros li
{
    color: red;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
.erros ul
{
    float: right;
}
.confia
{
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(55deg) brightness(98%) contrast(102%);
    margin-bottom: 2px;
}
.text_red
{
    color: red;
}
.labels
{
    color: white;
}
.errorlist
{
    margin: 0px;
    margin-top: 5px;
}
.row_two_
{
    display: flex;
    justify-content: center;
}
