{%extends 'base.html'%}
{% load static %}

{% block import_title_css %}
    <title>Alterar Senha</title>
    <link rel="stylesheet" href="{% static 'css/alterar_senha.css' %}">
{% endblock %}


{%block main%}
    

    <div class="main">
        {% if user.primeiro_login == True %}
            <p class="wellcum">Bem Vindo ao GCA</p>
            <p class="warning_text">Como esse é o seu primeiro login, pedimos que por favor altere a sua senha.</p>
        {% endif %}
        
        <p class="titulo">Alterar Senha</p>
        <form class="form" action="" method="POST">
            {% csrf_token %}

            <div class="senha_antiga">
                <p>Senha Antiga</p>
                {{ form.old_password }}
                <div  class="color_red">{{ form.old_password.errors }}</div>
            </div>
            
            <div class="nova_senha">
                <p>Nova Senha</p>
                {{ form.new_password1 }}
                <div  class="color_red">{{ form.new_password2.errors }}</div>
            </div>
            
            <div class="nova_senha">
                <p>Confirme a Nova Senha</p>
                {{ form.new_password2 }}
                <div  class="color_red">{{ form.new_password2.errors }}</div>
            </div>
            
            <!-- {{ form.as_p }} -->
            <div class="row_five">
                <button>
                    <input type="submit" id="input"value="Alterar Senha">
                </button>
            </div>
        </form>

{% endblock %}