{% extends 'base.html' %}
{% load static %}

{% block import_title_css %}
    <title>Aluno</title>
    <link rel="stylesheet" href="{% static 'css/CONFIG.css' %}">
{% endblock %}


{% block main %}
<div class="main">
    
    <p class="titulo">Dados do Aluno(a) - {{aluno.username}}</p>
<!--     <div class="erros">
        {{ form.errors }}
    </div> -->
    
    <div class="cadastro">
        <form action="" method="post" enctype='multipart/form-data'>
            {%csrf_token%}
            <div class="row_one">

                <div class="supossed_image">
                    <img src="{{ aluno.image.url }}" alt="">
                </div>
                <div class="row_image">
                    <p class="img_font" > Imagem Atual:</p> <a href="{{ aluno.image.url }}">{{ aluno.image.url }}</a>
                    Mudar:
                    <input type="file" name="image" accept="image/*" class="image" placeholder="Image" id="id_image">
                    
                </div>


                <div class="matricula_fix">
                    <p>Matricula</p>
                    {{form.matricula}}
                    <div  class="color_red">{{ form.matricula.errors }}</div>
                </div>
                
                
            </div>

            <div class="row_two">
                <div class="username_fix">
                    <p>Username</p>
                    {{ form.username }}
                </div>
                
                
            </div>

            <div class="row_three">
                <div  class="cpf_fix">
                    <p>CPF</p>
                    {{form.cpf}}
                    <div  class="color_red">{{ form.cpf.errors }}</div>
                </div>
                
                <div class="email_fix">
                    <p>Email</p>
                    {{form.email}}
                    <div  class="color_red">{{ form.email.errors }}</div>
                    
                </div>
                
                
            </div>

            <div class="row_four">
                <div class="data_fix">
                    <p>Data de nascimento</p>
                    {{form.data_de_nascimento}}
                    <div  class="color_red">{{ form.data_de_nascimento.errors }}</div>
                </div>
                

                <div class="telefone_fix">
                    <p>Telefone</p>
                    {{form.phone}}
                </div>
                
  
            </div>

            <div class="row_two">

                <div class="curso_fix">
                    <p>Curso</p>
                    <select name="curso_relacao" class="curso_relacao" placeholder="curso" readonly="readonly" id="id_curso_relacao">
                        
                        <option value="{{ aluno.curso_relacao.id }}" selected="">{{ aluno.curso_relacao.nome }}</option>
                                            
                      </select>

                </div>
                <div  class="color_red">{{ form.curso_relacao.errors }}</div>

            </div>

            <div class="alt">
                <div class="alterar_senha">
                    {% if grupo == "Aluno" %}
                        <a href="{% url 'student_change_password' %}">Alterar a Senha</a>
                    {% elif grupo == 'Professor' %}
                        <a href="{% url 'teacher_change_password' %}">Alterar a Senha</a>
                    {%  endif %}
                </div>
            </div>
            

            <div class="row_five">
                <button>
                    <input class="text_border" type="submit" id="input"value="Alterar Dados">
                </button>
            </div>
        </form>
        
{% endblock %}