{% extends 'base.admin.html' %}
{% load static %}

{% block import_title_css %}
    <title>Cadastro Curso</title>
    <link rel="stylesheet" href="{% static 'css/sign_up_course.css' %}">
{% endblock %}

{% block main %}

<div class="main">
    
    <p class="title">Cadastro - Curso</p>
    <!-- {{ form.errors }} -->
    <form action="" method="post">
        
        {% csrf_token %}

        <div class="name_perido">
            <div>
                <p class="label_p">Nome</p>
                {{ form.nome }}
                <p class="color_red"> {{ form.nome.errors }} </p>
            </div>

            <div>
                <p class="label_p">Total de Peridodos</p>
                {{ form.periodos }}
                <p class="color_red"> {{ form.periodos.errors }} </p>
            </div>

        </div>

        <div class="dual_label">
            <div class="disciplina">
                <label for=""> {{ form.disciplina.label }} </label>
                {{ form.disciplina }}
                <p class="color_red"> {{ form.disciplina.errors }} </p>
            </div>

            <div>
            
                <div class="coordenador">
                    <label for="coordenador">{{ form.coordenador.label }}</label>

                    <select name="coordenador" class="coordenador" placeholder="Coordenador do Curso" required="" id="id_coordenador">
                        <option value="" selected="">---------</option>
                      
                        {% for teacher in prof%}
                            
                            {% if teacher.curso_relacao.nome == None %}
                                <option value="{{ teacher.id }}">{{ teacher.username }}</option>
                            {% endif %}
                        {% endfor %}
                      
                      </select>

                    <p class="color_red">{{ form.coordenador.errors }}</p>
                    <!-- {{ form.coordenador }} -->
                </div>
    
            </div>
            

        </div>
        <div class="name_perido_ano">
            
            <div class="disciplina">
                <p class="label_p">Ano</p>
                {{ form.ano }}
                <p class="color_red">{{ form.ano.errors }}</p>
            </div>

        </div>


        <div class="row_five">
            <button>
                <input type="submit" id="input"value="Cadastrar Curso">
            </button>
        </div>

    </form>

{% endblock %}
