{% extends 'base.html' %}
{% load static %}

{% block import_title_css %}
    <title>Cadastro Disciplina</title>
    <link rel="stylesheet" href="{% static 'css/sign_up_subject.css' %}">
{% endblock %}

{% block main %}
<div class="main">
    <p class="title">Cadastro - Disciplina</p>

    <form action="" method="post">

        <div class="nome_perido">

            <input type="text" nome="nome" id="Nome" placeholder="Nome da disciplina">
            <input type="number" nome="periodo" placeholder="Perido do da disciplina">

        </div>

        <div class="carga_horaria_optativa">

            <input type="number" nome="'carga_horaria" placeholder="Carga Horaria da Disciplina" id='carga'>

            <div class="radio_title">
                <p>Opitativa</p>
                <div class="radios">
                    <div>
                        <input type="radio"  id="optiva_sim"  name="optativa" value="Nim">
                        <label for="optiva_sim">Sim</label>
                    </div>

                    <div>
                        <input type="radio" id="optativa_não" name="optativa" value="Nâo">
                        <label for="optativa_não">Não</label>
                    </div>
                </div>
            </div>


        </div>
        <div class="dependencias">
            <label for="dependencia">Dependencias</label>
            <select name="dependencia" id="dependencia" multiple>
                <option value="matematica">Matematica</option>
                <option value="fisica">fisica</option>
                <option value="algoritimos">algoritimos</option>
            </select>
        </div>

        <input type="submit" value="Cadastrar Curso">
    </form>
</div>
{% endblock %}