{% extends 'base.html' %}
{% load static %}

{% block import_title_css %}
    <title>Cadastro Disciplina</title>
    <link rel="stylesheet" href="{% static 'css/sign_up_subject.css' %}">
{% endblock %}

{% block main %}
<div class="main">
    <p class="title">Cadastro - Disciplina</p>
    {{ form.errors }}
    <form action="" method="post">
        {%csrf_token%}
        <div class="nome_perido">
            
            {{form.nome}}
            {{form.perido}}

        </div>

        <div class="carga_horaria_optativa">


            {{ form.carga_horaria }}

            <div class="radio_title">
                
                <p>Opitativa</p>

              
                <div class="radios">
                    
                    {{ form.optativa }}
                </div>

            </div>
        </div>

        <div class="dependencias">

            <label for="">{{ form.dependencia.label }}</label>
            {{ form.dependencia }}

        </div>
    
        <input type="submit" value="Cadastrar Curso">
        
    </form>

</div>
{% endblock %}