{% extends 'base.html' %}
{% load static %}

{% block import_title_css %}
    <title>Cadastro Aluno</title>
    <link rel="stylesheet" href="{% static 'css/sign_up_student.css' %}">
{% endblock %}


{% block main %}
<div class="main">
    
    <p>Cadastro de Professor
    </p>

    <div  class="erros">
        {{ form.errors }}
    </div>
    <div class="cadastro">
        <form action="" method="post" enctype='multipart/form-data'>
            {%csrf_token%}

            <div class="row_one">
                
                <div class="supossed_image">

                </div>

                <div class="row_image">
                    <div>

                        

                        <input type="checkbox" id="ynimagem" name="ynimagem"> 
                        <label  class='label_checkbox'for="ynimagem">Não escolher uma foto</label>
                    </div>
                    {{form.image}}
                    
                </div>

                {{form.matricula}}
                
            </div>

            <div class="row_two">

                {{ form.username }}
                
            </div>

            <div class="row_three">

                {{form.cpf}}
                {{form.email}}
                
            </div>

            <div class="row_four">

                {{form.data_de_nascimento}}
                {{form.phone}}
  
            </div>

            <div class="row_four">

                {{form.password1}}
                {{form.password2}}
  
            </div>

            <div class="row_two_2">

                <div>{{ form.curso_relacao.label }}</div>
                {{ form.curso_relacao }}
                
            </div>  

            <div class="row_two_2">

                <div><div>{{ form.disciplina_relacao.label }}</div></div>
                
                {{ form.disciplina_relacao }}
                
            </div>


            <div class="row_five">
                <button>
                    <label for="input"><img src="{% static 'icons/out.svg'%}" alt=""></label>
                    <input type="submit" id="input"value="Cadastrar">
                </button>
            </div>
        </form>
        
{% endblock %}