{% extends 'base.admin.html' %}
{% load static %}

{% block import_title_css %}
    <title>Cadastro Aluno</title>
    <link rel="stylesheet" href="{% static 'css/sign_up_student.css' %}">
{% endblock %}


{% block main %}
<div class="main">
    
    <p class="titulo">Cadastro de Aluno</p>
    <!-- {{ form.errors }} -->
    <div class="cadastro">
        <form action="" method="post" enctype='multipart/form-data'>
            {%csrf_token%}

            <div class="row_one">

                <div class="supossed_image">
                    <img id="blah" src="#" alt="your image" />
                </div>
                

                <div class="row_image">
                    <div>

                        

                        <input type="checkbox" id="ynimagem" name="ynimagem"> 
                        <label  class='label_checkbox'for="ynimagem">Não escolher uma foto</label>
                    </div>
                    <input type="file" name="image" accept="image/*" class="image" placeholder="Image" id="id_image">
                    <!-- {{form.image}} -->
                    <div style="width: 10px; height: 15px; overflow: hidden">{{form.matricula.errors}}</div>
                </div>
                <div>
                <div>
                    <p class="labels">Matricula</p>
                    {{form.matricula}}
                </div>
                <div class="text_red">{{form.matricula.errors}}</div>
                </div>
                
            </div>

            <div class="row_two">
                <div>
                    <p class="labels">Nome de usuario</p>
                    {{ form.username }}
                </div>
                
                <div class="text_red">{{form.username.errors}}</div>
                
            </div>

            <div class="row_three">

                <div> 
                    <div>
                        <p class="labels">CPF</p>
                        {{form.cpf}}
                    </div>
                    
                    <div class="text_red">{{form.cpf.errors}}</div>
                </div>

                <div>
                    <div>
                        <p class="labels">Email</p>
                        {{form.email}}
                    </div>
                    <div class="text_red">{{form.email.errors}}</div>
                </div>
                
                
            </div>

            <div class="row_four">

                <div>
                    <div>
                        <p class="labels">Data de nascimento</p>
                        {{form.data_de_nascimento}}
                    </div>
                    
                    <div class="text_red">{{form.data_de_nascimento.errors}}</div>
                </div>
                
                <div>
                    <div>
                        <p class="labels">Telefone</p>
                        {{form.phone}}
                    </div>
                    
                    <div class="text_red">{{form.phone.errors}}</div>
                </div>
                
  
            </div>

            <div class="row_four">
                <input style="visibility: hidden; position: absolute;" type="password" name="password1" autocomplete="new-password" class="password1" placeholder="Senha" required="" id="id_password1" value="{{senha}}">
                <input style="visibility: hidden; position: absolute;" type="password" name="password2" autocomplete="new-password" class="password2" placeholder="Confirme a Senha" required="" id="id_password2" value="{{senha}}">
<!--                 {{form.password1}}
                {{form.password2}} -->
  
            </div>

            <div class="row_two_">
                <div>
                    <p class="labels">Curso</p>
                    {{ form.curso_relacao }}
                </div>
                <div class="text_red">{{ form.curso_relacao.errors }}</div>
                
            </div>


            <div class="row_five">
                <button>
                    <label for="input"><img class="confia" src="{% static 'icons/out.svg'%}" alt=""></label>
                    <input type="submit" id="input"value="Cadastrar">
                </button>
            </div>
        </form>
        
{% endblock %}

{% block js%}
<script>

    document.getElementById('id_password1').value="{{senha}}"
    document.getElementById('id_password2').value="{{senha}}"

    id_image.onchange = evt => {
        const [file] = id_image.files
        if (file) {
          document.getElementById("blah").style.display = 'block';
          blah.src = URL.createObjectURL(file)
        }
      }

</script>

    

{% endblock %}