{% extends 'base.html' %}
{% load static %}

{% block import_title_css %}

<link rel="stylesheet" href="{% static 'css/requisitar_certificacao.css' %}">
<title>Requisitar Certificação de Conhecimento</title>

{% endblock %}

{% block main %}

<!-- <form action="">
    {{form.as_p}}
</form> -->
<div class="main">
    <form action="" method="post">
        {%csrf_token%}
        <p class="titulo">Certificação de Conhecimento</p>
        <div style="color: red;">{{ form.errors }}
        </div>

        <div class="content">
            <div >
                <p class="color_white">{{form.disciplina.label}}</p>
                <!-- {{form.disciplina}} -->
                
                <select name="disciplina" class="disciplina" placeholder="curso" id="id_curso_relacao" aria-readonly="readonly"  >
                
                    <option selected value="{{disciplina.id}}">{{disciplina.nome}}</option>

                </select>


            </div>

            <div class="requisitor_div" >
                <select name="requisitor" id="id_requisitor" style="visibility: hidden; position:absolute">
                    <option value="{{user.id}}">{{user.username}}</option>
                </select>
            </div>

            <div class="status_requisição_div"  >
                <select name="status_requisição" id="id_status_requisição" style="visibility: hidden; position:absolute">
                    <option value="aguardo">Aguardo</option>
                </select>
            </div>


        </div>

        <div class="submit_div">
            <button class="submit">
                Enviar Requisição
            </button>
        </div>
    </form>

</div>
{% endblock %}